    jQuery(document).ready(function ($) {
        toastr.options = {
            "closeButton": {{ toastr.closeButton ? 'true' : 'false' }},
            "debug": {{ toastr.debug ? 'true' : 'false' }},
            "newestOnTop": {{ toastr.newestOnTop ? 'true' : 'false' }},
            "progressBar": {{ toastr.progressBar ? 'true' : 'false' }},
            "positionClass": "{{ toastr.positionClass }}",
            "preventDuplicates": {{ toastr.preventDuplicates ? 'true' : 'false' }},
            {% if toastr.onclick %}
            "onclick": {{ toastr.onclick|raw }},
            {% endif %}
            "showDuration": "{{ toastr.showDuration }}",
            "hideDuration": "{{ toastr.hideDuration }}",
            "timeOut": "{{ toastr.timeOut }}",
            "extendedTimeOut": "{{ toastr.extendedTimeOut }}",
            "showEasing": "{{ toastr.showEasing }}",
            "hideEasing": "{{ toastr.hideEasing }}",
            "showMethod": "{{ toastr.showMethod }}",
            "hideMethod": "{{ toastr.hideMethod }}"
        };
        {% if toastr.handleAjaxErrors %}
        $(window).on('ajaxErrorMessage', function (event, message) {
            toastr.error(message, '{{ toastr.messageHeader }}');
            event.preventDefault();
        });
        {% endif %}
        {% if toastr.handleAjaxFlashMessages %}
        {% flash %}
        toastr.{{ type }}('{{ message }}', '{{ toastr.messageHeader }}');
        {% endflash %}
        {% endif %}

        $(window).on('ajaxConfirmMessage', function (event, message) {
            // Stop the default confirm dialog
            event.preventDefault();

            message += `<div class="toast-buttons"><button id="toastOK">OK</button><button id="toastCancel">Cancel</button></div>`;

            toastr.{{toastr.confirmStyle}}(message, '{{ toastr.messageHeader }}');

            // Okay Button
            $('#toastOK').click(function (e) {
                e.preventDefault();
                toastr.clear();
                event.promise.resolve();
            });

            // Cancel Button
            $('#toastCancel').click(function (e) {
                e.preventDefault();
                event.promise.reject();
            });

            // Return a value so the framework knows we're handling the confirm
             return true;
        });

    });

